extends ./layout.jade

block content
	nav(class="color-crimson padding-large shadow-transparent")
		ul(class="no-list")
			li(class="col-md-3 no-float")
				a(href="/") Inicio
			li(class="col-md-3 no-float")
				a(href="/smartphones") Smartphones
			li(class="col-md-3 no-float")
				a(href="/contact") Contacto
	section(class="text-center medium")
		img(src="images/jomaca.jpg", alt="jomaca" class="avatar margin-up")
		h1(class="pacifico color-blue") Jorge Mario Calle De Hoyos
		p Desarrollador junior Javascript, con muchas ganas de seguir aprendiendo y compartiendo conocimiento :D
		p Me puedes encontrar en :
		div(class="container animated zoomIn delay-1")
			a(href="https://github.com/jorcalle11" class="margin-right")
				i(class="fa fa-github big")
			a(href="https://www.facebook.com/jorge.calledehoyos" class="margin-right")
				i(class="fa fa-facebook big")
			a(href="https://twitter.com/Jomaca11" class="margin-right")
				i(class="fa fa-twitter big")
			a(href="https://www.instagram.com/jorcalle11/" class="margin-right")
				i(class="fa fa-instagram big")

