extends ./layout.jade

block content
	nav(class="color-wheat padding-large")
		ul(class="no-list")
			li(class="col-md-3 no-float")
				a(href="/") Inicio
			li(class="col-md-3 no-float")
				a(href="/contact") Contacto
			li(class="col-md-3 no-float")
				a(href="/about") Acerca de
	section(class="text-center medium")
		h1(class="pacifico big color-blue") Contacto
		p Parque central, Sahagún, Córdoba,
		p Escribenos a
			a(href="mailto:jorgeamerica9@hotmail.com")  jorgeamerica9@hotmail.com
		div
			iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9374.150344437632!2d-75.44940898688048!3d8.940348204578715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5963d23169696d%3A0xe550475abd293f4!2sParque+Central!5e0!3m2!1ses-419!2ses!4v1452632468266" width="600" height="450" frameborder="0" style="border:0" allowfullscreen)
