extends ./layout.jade

block content
	section(class="col-xs-8 col-sm-6 col-md-3 center-block no-float text-center margin-up")
		img(src="images/MotoXplay.png" alt="moto X Play" class="animated fadeIn")
		h1(class="pacifico big color-lightgreen animated fadeIn delay-1") Smarphones Motorola
		div(class="animated fadeInDown delay-2")
			h3 Elige a tu compañero ideal
			nav
				a(href="/smartphones" class="margin-right medium")  Smartphones
				a(href="/contact" class="margin-right medium")  Contacto
				a(href="/about" class="medium") Acerca de

