html(lang="es")
  head
    meta(charset="utf-8")
    title Catálogo Motorla
  body
    img(src="images/MotoXplay.png")
    h1 Smarphones Motorola
    h3 Elige a tu compañero ideal
    nav
      a(href="/menu")  Menú
      a(href="/contact")  Contacto
      a(href="/about") Acerca de
