extends ./layout.jade

block content
	section(class="col-md-3 center-block no-float text-center margin-up")
		img(src="images/MotoXplay.png" alt="moto X Play")
		h1(class="pacifico big color-lightgreen") Smarphones Motorola
		h3 Elige a tu compañero ideal
		nav
			a(href="/smartphones" class="margin-right")  Smartphones
			a(href="/contact" class="margin-right")  Contacto
			a(href="/about") Acerca de

